@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

/*CSS Document*/

body{
	background:beige;
	margin:0;
	padding:0;	
}

header, nav, section, article, footer{
	text-align: center;
}

/*header*/

	.h_word h1{
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
  font-style: normal;
	}


/*nav*/
nav{
	background:darkgreen;
}

nav a{
	color:white;
	text-decoation:none;/*將底線去除*/
	padding:20px;
	background: darkgreen;
	display:inline-block;
}

nav a:hover{
	color: white;
	background: black;
}

/* section */
section{
	width: 100%; /*可隨視窗大小調整*/
	margin: auto; /*物件置中*/
}

/* article */
article{
	display: inline-block;
  	 /*設定寬度，否則會以內容元素中最寬的元素寬度作為預設*/
	width: 180px; 
 	/*設定邊寬作為檢視*/
	border: solid 1px #ddd;
	margin:20px;
}



/* article before a */
.article_a{
	color:black;
}

.article_a:hover article{
	background: teal;
	color: white;
}

.article_a:active article{
	background: gold;
	color: black;
}
