@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&display=swap');

*{
	margin:0;
	padding:0;
}

body{
	font-family: "Zen Maru Gothic", serif;
  background-image: url("../images/1104/bg.png");
}

/* nav bar */
nav{
	width:100%;
	margin:auto;
	text-align:center;
	background:rgba(120, 0, 0, 1);
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	z-index:2000;
}

nav li{
	display: inline-block;
}

nav li a{
	display: inline-block;
	padding:20px 50px;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

nav li a:hover{
	background:rgba(193, 18, 31, 1);
}

.ch_bg{
	background:rgba(193, 18, 31, 1);
}

/* section */
section{
	width:80%;
	margin: auto;
	padding:30px 0px;
}

.box{
	display: inline-table;
	box-sizing:border-box;
	width:32%;
	color:rgba(0, 48, 73, 1);
	background:rgba(250, 250, 250, 1);
	margin:5px;
	padding-bottom:20px;
	cursor: pointer;
}

.imgbox{
	width:100%;
	overflow:hidden;
}

.box img{
	width:100%;
}

.box h3{
	box-sizing:border-box;
	padding:20px;
	font-size:24px;
	font-weight:700;
}

.box p{
	box-sizing:border-box;
	padding:0px 20px;
}

/*footer*/

footer{
	padding:20px 0px;
	text-align:center;	
}

.ficon{
	font-size:30px;
	color:rgba(0, 48, 73, 1);
	padding:5px;
}